<button mat-raised-button color="light" class="horasTotal">
  Total Horas: {{horasTotais}}
</button>


<!-- Tabela com Angular Material -->
<table mat-table [dataSource]="documents" class="mat-elevation-z1">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome do Documento</th>
    <td mat-cell *matCellDef="let row"><a href="{{row.link}}" target="_blank">{{row.name}}</a></td>
  </ng-container>

  <ng-container matColumnDef="activity">
    <th mat-header-cell *matHeaderCellDef>Atividade</th>
    <td mat-cell *matCellDef="let row">{{row.activity}}</td>
  </ng-container>

  <ng-container matColumnDef="hours" class="hours">
    <th mat-header-cell *matHeaderCellDef>Horas</th>
    <td mat-cell *matCellDef="let row">{{row.hours}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell class="{{row.status}}" *matCellDef="let row">{{row.status}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let row">
      <a routerLink="/document/update/{{row.id}}">
        <i class="material-icons edit">edit</i>
      </a>
      <a routerLink="/document/delete/{{row.id}}">
        <i class="material-icons delete">delete</i>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>


<!--Tabela apenas com HTML 
<table>
    <thead>
        <tr>
            <th class="th-name">Nome Documento</th>
            <th class="th-atividade">Atividade</th>
            <th class="th-horas">Qtd. Horas</th>
            <th class="th-link">Link</th>
            <th class="th-status">Status</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let item of documents">
            <th>{{item.name}}</th>
            <th>{{item.activity}}</th>
            <th>{{item.hours}}</th>
            <th>{{item.link}}</th>
        </tr>
    </tbody>
</table> -->