table{
    width: 100%;
}

button{
    margin-bottom: 30px;
    border: 1px solid #002d5e;
}

button:hover{
    background-color: white;
    color: #002d5e;
}

a{
    text-decoration: none;
    color: rgb(22, 73, 139);
}

.horasTotal{
    margin-left: 15px;
    color: rgb(22, 73, 139);
}

a{
    text-decoration: none;
    color: rgb(70, 70, 70);
}

i.edit{
    color: #1b60bb;
}

i.delete{
    margin-left: 10px;
    color: #e35e6b;
}

th{
    color: rgb(85, 85, 85);
    font-size: 16px;
}

.HOMOLOGADO{
    color: rgb(0, 131, 28);
}

.RECUSADO{
    color: rgb(185, 0, 0);
}


