@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Rampart+One&display=swap');

.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header img{
    height: 45px;
}

.header .title-group {
    margin-left: 37%;
    letter-spacing: 3px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
    color: rgb(160, 160, 160);

}

.header .title-group i{
    padding-right: 10px;
}