.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content:flex-end;
}

.footer span{
    font-size: 14px;
}

.fa-linkedin{
    margin: 0 10px 6px 0;
}

.fa-github{
    margin: 0 15px 5px 0;
}

a{
    text-decoration: none;
    color: black;
}