<mat-sidenav-container class="container">

    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport=true fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item routerLink="document/create">
                <i class="material-icons">add_circle</i>
                Lançar Horas
            </a>
            <a  mat-list-item routerLink="/document">
                <i class="material-icons">search</i>
                Consultar Horas
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>