form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.title{
    text-align: center;
    padding: 15px;
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 87, 87);
}

.buttons {
    display: flex;
    justify-content:center;
}

.btnsalvar{
    background-color: white;
    color: #004794;
    border: 1px solid #004794;
}

.btncancelar{
    background-color: white;
    color: #cf0700;
    border: 1px solid #cf0700;
    margin-left: 20px;
}
