<mat-card class="mat-elevation-z8">
    <mat-card-title class="title">Alteração de Documento</mat-card-title>
    
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nome do documento</mat-label>
            <input matInput  [(ngModel)]="document.name"  name="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Atividade</mat-label>
            <input matInput [(ngModel)]="document.activity" name="atividade">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Qtd. horas</mat-label>
            <input matInput [(ngModel)]="document.hours" name="hours" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Link do documento</mat-label>
            <input matInput [(ngModel)]="document.link" name="link">
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="updateDocument()"  class="btnsalvar">Alterar</button>
        <button mat-stroked-button (click)="cancelar()" class="btncancelar">Cancelar</button>
    </div>
    
</mat-card>